name: Merge to Main

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

defaults:
  run:
    shell: bash

jobs:
  checks:
    uses: ./.github/workflows/checks.yml

  release-please:
    name: Release Please
    runs-on: ubuntu-latest
    needs: checks
    steps:
      - name: Release Please
        uses: googleapis/release-please-action@v4
        with:
          release-type: go
          token: ${{ secrets.GITHUB_TOKEN }}
