name: Merge to Main

on:
  push:
    branches:
      - main

permissions:
  contents: write

defaults:
  run:
    shell: bash

jobs:
  checks:
    uses: ./.github/workflows/checks.yml

  tag:
    name: Tag Release
    runs-on: ubuntu-latest
    needs: checks
    steps:
      - name: Bump version and push tag
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: false
