name: Merge to Main

on:
  push:
    branches:
      - main

permissions:
  contents: write

defaults:
  run:
    shell: bash

jobs:
  checks:
    uses: ./.github/workflows/checks.yaml

  tag:
    name: Tag Release
    runs-on: ubuntu-latest
    needs: checks
    outputs:
      new_tag: ${{ steps.tag.outputs.new_tag }}
    steps:
      - name: Bump version and push tag
        id: tag
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: false

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: tag
    if: needs.tag.outputs.new_tag != ''
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
