name: PR Checks

on:
  pull_request:

# Cancel existing workflows running for this PR
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  checks:
    name: Checks
    uses: ./.github/workflows/checks.yaml
